# macOS
.DS_Store

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Build / package artifacts
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Local data and outputs
data/
results/
temp/
Figures_notebook/data/
Figures_notebook/results/
examples/data/
examples/results/
examples/temp/

# Logs
*.log

# Environments
.env
.venv/
venv/
